.logOutButton {
    align-self: flex-end;
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%);
    text-align: center;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 100px;
    display: block;
    padding: 10px 20px;
    margin-top: 20px;
    transition: all .2s linear;
    cursor: pointer;
}

.logOutButton:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
    height: 100%;
    width: 100%;
}

.dashboard main,
.dashboard aside {
    background-color: var(--background-color);
    backdrop-filter: blur(5px);
    box-shadow: 0 20px 20px #00000054;
    padding: 30px;
    height: 100%;
    border-radius: 20px;
}

.dashboard main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.dashboard form {
    width: 100%;
}

.dashboard button {
    margin-top: 20px;
}

.dashboard h1 {
    color: var(--highlightColor);
    font-size: 4rem;
}

.fieldsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 60%;
    margin: 5px auto 0px auto;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: .2s ease-in;
}

.fieldsContainer:hover {
    border: 2px solid var(--normalColor);
}

.fieldsContainer:focus {
    border-color: var(--highlightColor);
}

.fieldsContainer input {
    margin: 0px;
    width: 100% !important;
}


.transfersAside {
    transition: all .2s linear;
    cursor: pointer;
}

.transfersAside:hover {
    transform: translateY(-10px);
}

.transactionCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    font-size: 0.7rem;
    background-color: var(--background-color);
    border-radius: 6px;
    margin-top: 10px;
}

.debitedValue {
    color: var(--warnColor);
}

.creditedValue {
    color: var(--highlightColor);
}

@media (width >=900px) {
    .dashboard {
        flex-direction: row-reverse;
    }

    .fullPage {
        height: 100vh;
    }

    .dashboard main {
        width: 100%;
    }

    .dashboard input,
    .dashboard button {
        width: 60%;
    }
}